[Unit]
Description=Cave thermostat
After=network.target

[Service]
ExecStart=/home/pi/Cave/src/server.py start
Restart=on-failure

[Install]
WantedBy=multi-user.target
