[server]

# Weather setup. 
# WeatherModuleID should be the moduleID field that you have labeled
# as "outside".
WeatherModuleID = 0
OWM_APIKey = ec34436fb7333cce91604627b79782c0
Location = lynchburg, VA # city, state

# MySQL backups
mysqlBackup = True
mysqlBackupDir = /tmp


[thermostat]
# The comfort zone is based on ASHRAE recommendation in F. This value will modify that
# recommendation, increasing the comfort zone (widening the bounds) with positive
# values and decreasing with negative.
comfort_offset = 1.5

# This hasn't been implemented yet (Adam)
# Allowable offset from the programmed target
# This allows users to make a change to the programmed temperature within reason
allowed_user_temp_offset = 2   # user allowed +- this many degree modification
allowed_user_time = 2          # max hours a user can apply a change

# Let's say we want it to be 75, and it's in cooling mode.
# if the active_hysteresis is 0.5, it will cool to 74.5 before shutting off.
# on the other side, if the inactive_hysteresis is 1, the system will allow
# the indoor temp to reach 76 before turning cooling back on.
# adjust them to the particulars of your system / personal preference
active_hysteresis = 1
inactive_hysteresis = 1.5

ORANGE_PIN = 6
YELLOW_PIN = 13
GREEN_PIN = 19
AUX_PIN = 26

# Module ID that you wish to control the Aux heat.  This is to avoid
# Aux heat coming on for temperature fluctuations that may occur from
# a door opening, etc. This should probably be the sensor that is in
# the same place as your original thermostat.
AUX_ID = 1

PIR_PIN = 21
TEMP_PIN = 4

# RGB LED used for system status indication
# [Red, Green, Blue] pin numbers
RGB_LED = [17, 27, 22]


email = foo@bar.com
